<div class="container">
  <div class="detail-section">
    <h1 class="detail-name">{{productDetail.name}}</h1>
    <hr class="section-divider" />
  </div>

  <div class="detail-section">
    <div class="detail-info row">
      <div class="detail-img col-md-4 ms-3">
        <img src="{{productDetail.image_link}}" alt="IMG" class="detail-img" />
      </div>
      <div class="col-md-6 ms-2">

        <span class="detail-text">Category:</span>
        <span class="detail-description">{{productDetail.product_type}}</span>
        {{!-- <p class="detail-text">Category: {{productDetail.product_type}}</p> --}}
        <br />
        <span class="detail-text">Brand:</span>
        <span class="detail-description">{{productDetail.brand}}</span>
        <br />
        <span class="detail-text">Price:</span>
        <span
          class="detail-description"
        >{{formatPrice productDetail.price}}</span>
        <br />
        <span class="detail-text">Tag: </span>
        {{#each productDetail.tag_list}}
          <span class="detail-description">{{this}}</span>
        {{/each}}
        <br />
        {{#if (eq user.role "client")}}
        <form action="/cart/add?id={{productDetail.id}}" method="post">
          <p class="detail-text">Quantity</p>

          <input
            type="number"
            class="input--style-3"
            placeholder="1"
            name="quantity"
            value="1"
          />
          <button type="submit" class="detail-button mt-2 mb-3">Add to cart</button>
        {{/if}}
        </form>
      </div>

    </div>
    <hr class="section-divider" />
  </div>

  <div class="detail-section">
    <p class="detail-text">
      Description
    </p>
    <p class="detail-description">
      {{productDetail.description}}
    </p>
    <hr class="section-divider" />
  </div>
  <div class="detail-section">
    <p class="detail-text mb-3">
      Similar products
    </p>
    {{#if similarProducts}}
      <div class="row">
        {{#each similarProducts}}
          <div class="col-lg-4 mb-5 col-md-6 product">
            <div class="wine_v_1 text-center pb-4">
              <a
                href="/product/detail?id={{this.id}}"
                id="show-detail"
                class="thumbnail d-block mb-4"
              >
                <img
                  src="{{this.image_link}}"
                  alt="{{this.name}}"
                  class="img-fluid"
                />
              </a>
              <div class="wine-actions">
                <h3 class="heading-2 product-text" style="font-size:18px"><a
                    href
                  >{{this.name}}</a></h3>
                <h3 class="heading-2 product-text" style="font-size:15px">
                  {{this.price}}{{this.price_sign}}
                </h3>
              </div>
            </div>

          </div>
        {{/each}}
      </div>

    {{else}}
      <p class="detail-description">
        There are no similar products
      </p>
    {{/if}}

    <hr class="section-divider" />
  </div>
</div>