<div class="container">
  <h1 class="mt-5">{{product_type}} products</h1>
  <div class="site-section mt-4">
    <div class="container">
      {{#if (eq user/role "admin")}}
      <div class="row">
        <a
          data-mdb-ripple-init
          data-mdb-modal-init
          href="#addProduct"
          class="mb-3 fs-20"
        ><i class="icon ion-md-create">Add new product</i></a>
      </div>
      {{/if}}
      <div
        class="modal fade"
        id="addProduct"
        aria-hidden="true"
        aria-labelledby="addProductLabel"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProductLabel">Add new product</h5>
              <button
                type="button"
                class="btn-close"
                data-mdb-ripple-init
                data-mdb-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="ml-3" action="/product/add" enctype="multipart/form-data" method="post">
                <div class="input-group">
                   <label class="fw-bold" for="image_link">Image</label>
                  <input type="file" id="image-add-input" name="image" onchange="getImageReview(event,'add')" accept=".jpg, .png" id="" required>
                  <div id="preview-add-image"></div>
                  <input class="input--style-3" id="image-add-link" type="text" style="display: none;" name="image_link" placeholder="Image link"  required/>
                  <label class="fw-bold" for="brand">Brand</label>
                  <input
                    class="input--style-3"
                    type="text"
                    name="brand"
                    placeholder="Brand name" required
                  />
                </div>
                <div class="input-group">
                  <label class="fw-bold" for="name">Name</label>
                  <input
                    class="input--style-3"
                    type="text"
                    name="name"
                    placeholder="Product name" required
                  />
                </div>
                <div class="input-group">
                  <label class="fw-bold" for="price">Price</label>
                  <input
                    class="input--style-3"
                    type="number"
                    name="price"
                    placeholder="Price" required
                  />
                </div>

                <input
                  type="hidden"
                  name="product_type"
                  value="{{product_type}}"
                />
                <div class="input-group">
                  <label class="fw-bold" for="name">Description</label>
                  <input
                    class="input--style-3"
                    type="text"
                    name="description"
                    placeholder="Description" required
                  />
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <div class="ms-3 mb-3">
                  <button
                    class="btn btn--pill btn--green mb-3"
                    type="submit"
                  >Confirm</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="dropdown">
          {{!-- <span style="display: inline-block;">Filter</span> --}}
          <button
            class="dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          <span id="filter-display"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="filter dropdown-item" >A-Z</a>
            <a class="filter dropdown-item" >Z-A</a>
            <a class="filter dropdown-item" >Price low to high</a>
            <a class="filter dropdown-item" >Price high to low</a>
          </div>
        </div>
      </div>
      <div class="row">
        {{#each prodList}}
          <div class="col-lg-4 mb-5 col-md-6 product">
            <div class="wine_v_1 text-center pb-4">
              <a
                href="/product/detail?id={{this.id}}"
                id="show-detail"
                class="thumbnail d-block mb-4"
              >
                <img
                  src="{{this.image_link}}"
                  alt="{{this.name}}"
                  class="img-fluid"
                />
              </a>
              <div class="wine-actions">
                <h3 class="heading-2 product-text" style="font-size:18px"><a
                    href
                  >{{this.name}}</a></h3>
                <h3 class="heading-2 product-text" style="font-size:15px">
                  {{this.price}}{{this.price_sign}}
                </h3>
              </div>
            </div>
            <style>
              .edit-button i, .delete-button i { font-size: 20px; /* Điều chỉnh
              kích thước biểu tượng theo mong muốn */ }
            </style>
            {{#if (eq user/role "admin")}}
            <div class="text-center">
              <a
                data-mdb-ripple-init
                data-mdb-modal-init
                href="#editProduct{{this.id}}"
                class="mr-3 edit-button"
              ><i class="icon ion-md-create"></i></a>
              <a
                href="/product/delete?id={{this.id}}&product_type={{product_type}}"
                class="ml-3 delete-button"
              ><i class="icon ion-md-trash"></i></a>
            </div>
            {{/if}}
          </div>
          <div
            class="modal fade"
            id="editProduct{{this.id}}"
            aria-hidden="true"
            aria-labelledby="editProduct{{this.id}}Label"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title"
                    id="editProduct{{this.id}}Label"
                  >Editing {{this.name}}</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-mdb-ripple-init
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form
                  class="ml-3"
                  action="/product/edit/{{this.id}}"
                  method="post" enctype="multipart/form-data"
                >
                  <div class="fw-bold mb-2" class="input-group">
                    <input
                      class="input--style-3"
                      type="hidden"
                      name="id"
                      value="{{this.id}}" required
                    />
                  </div>
                  <div class="input-group">
                  <label class="fw-bold" for="image_link">Image</label>
                    <input type="file" id="image-edit-input" name="image" onchange="getImageReview(event, 'edit')" accept=".jpg, .png" id="" required>
                    <div id="preview-edit-image">
                    </div>
                    <input class="input--style-3" id="image-edit-link" type="text" style="display: none;" name="image_link" placeholder="Image link" required>
                  </div>
                  <div class="input-group">
                    <label class="fw-bold" for="brand">Brand</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="brand"
                      value="{{this.brand}}" required
                    />
                  </div>
                  <div class="input-group">
                    <label class="fw-bold" for="name">Name</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="name"
                      value="{{this.name}}" required
                    />
                  </div>
                  <div class="input-group">
                    <label class="fw-bold" for="price">Price</label>
                    <input
                      class="input--style-3"
                      type="number"
                      name="price"
                      value="{{this.price}}" required
                    />
                  </div>
                  <div class="input-group">
                    <label class="fw-bold" for="description">Description</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="description"
                      value="{{this.price}}" required
                    />
                    <input
                      class="input--style-3"
                      type="text"
                      name="description"
                      value="{{this.price_sign}}" required
                    />
                  </div>
                  <input
                    type="hidden"
                    name="product_type"
                    value="{{product_type}}" required
                  />

                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  <div class="ms-3 mb-3">
                    <button
                      class="btn btn--pill btn--green"
                      type="submit"
                    >Confirm</button>
                  </div>

                </form>

                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul id="prod-pagination" class="pagination flex-wrap d-flex justify-content-center">
      <li class="page-item mx-1"><a class="page-link page-previous" href="">Previous</a></li>
      {{!-- <li class="page-item"><a class="page-link" href="/product?cate={{product_type}}&page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="/product?cate={{product_type}}&page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/product?cate={{product_type}}&page=3">3</a></li> --}}
      <li class="page-item mx-1"><a class="page-link page-next" href="">Next</a></li>
    </ul>
  </nav>
</div>
<style>
  .preview-image {
    max-width: 80%;
    height: auto;
  }
</style>
<script>
  function getImageReview(event, action) {
    const parentNode = event.target.parentNode;
    const imageInput = parentNode.querySelector(`#image-${action}-input`);
    const imageLink = parentNode.querySelector(`#image-${action}-link`);
    let fileName = event.target.files[0].name;
    const fileExtension = fileName.split('.').pop();
    let image = URL.createObjectURL(event.target.files[0]);
    let imageDiv = parentNode.querySelector(`#preview-${action}-image`);
    imageDiv.innerHTML = `<img class="preview-image" src="${image}" alt="">`
    imageLink.value = '/images2/' + fileName;
  }

  const product_type = '{{product_type}}';
  const page = {{ page }};
  const total = {{ total }};
  let filterContent = '{{filterContent}}';
  const filterDisplay = document.getElementById('filter-display');

  handleFilterDisplay();
  function handleFilterDisplay() {
    switch (filterContent) {
      case 'A_Z':
        filterDisplay.textContent = 'A-Z';
        break;
      case 'Z_A':
        filterDisplay.textContent = 'Z-A';
        break;
      case 'Price_low_to_high':
        filterDisplay.textContent = 'Price low to high';
        break;
      case 'Price_high_to_low':
        filterDisplay.textContent = 'Price high to low';
        break; 
      default:
        filterDisplay.textContent = 'Filter';
        break;
    }
  }
  handleFilter()
  function handleFilter() {
    const filters = document.getElementsByClassName('filter');
    for (const filter of filters) {
      let filter_content = ''
      switch (filter.textContent) {
        case 'A-Z':
          filter_content = 'A_Z';
          break;
        case 'Z-A':
          filter_content = 'Z_A';
          break;
        case 'Price low to high':
          filter_content = 'Price_low_to_high';
          break;
        case 'Price high to low':
          filter_content = 'Price_high_to_low';
          break;
        default:
          filter_content = '';
          break;
      } 
      filter.setAttribute('href', `/product?cate=${product_type}&page=${page}&filter=${filter_content}`)
    }
  }
  handlePagination();
  console.log('filterContent', filterContent )
  function handlePagination() {
    const product_type = '{{ product_type }}';
    const per_page = 9;
    const total_page = Math.ceil(total / per_page);
    const pagination = document.getElementById('prod-pagination');
    let html = ''
    //Generate page button in pagination
    for (let i = 1; i <= total_page; ++i) {
      html += `<li class="page-item"><a class="page-link page-number" style="display: none" href="/product?cate=${product_type}&page=${i}&filter=${filterContent}">${i}</a></li>`
    }

    pagination.lastElementChild.insertAdjacentHTML('beforebegin', html);
    const pageNumbers = document.querySelectorAll('.page-number');

    //Overflow pagination
    pageNumbers[0].style.display = 'block';
    pageNumbers[page-1].style.display = 'block';
    pageNumbers[total_page-1].style.display = 'block';
    for (let i = 1; i <= 2; ++i) {
      if (pageNumbers[page-i-1]) {
        pageNumbers[page-i-1].style.display = 'block';
      }
      if (pageNumbers[page+i-1]) {
        pageNumbers[page+i-1].style.display = 'block';
      }
    }

    let dotPage = page - 4;
    if (pageNumbers[dotPage] && dotPage != 0  ) {
      pageNumbers[dotPage].textContent = '...';
      pageNumbers[dotPage].style.display = 'block';
      pageNumbers[dotPage].classList.add('disabled');
    }
    dotPage = page + 3;
     if (pageNumbers[dotPage] && dotPage != total_page-1 ) {
      pageNumbers[dotPage].textContent = '...';
      pageNumbers[dotPage].style.display = 'block';
      pageNumbers[dotPage].classList.add('disabled');
    }


    pageNumbers[page-1].focus();
    const previousPage = document.querySelector('.page-previous');
    const nextPage = document.querySelector('.page-next');
    let previous_page = page > 1 ? page - 1 : total_page;
    let next_page = page >= total_page ? 1 : page + 1;
    previousPage.setAttribute('href', `/product?cate=${product_type}&page=${previous_page}&filter=${filterContent}`)
    nextPage.setAttribute('href', `/product?cate=${product_type}&page=${next_page}&filter=${filterContent}`)
  }
</script>