{{#if user}}
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light ftco-navbar-light-2"
  id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><bold>AW SHOP</bold></a>
    <div class="row search-group rounded mx-auto">
      <form action="/product/search?search={{this.search}}" method="get">
        <input
          type="search"
          class="col-md-8 form-control-small rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="search"
        />
        <span class="col-md-2 search-group-text border-0 align-self-center" id="search-addon">
          <i class="oi oi-magnifying-glass">
          </i>
        </span>
        <input class="btn" type="submit" style="display: none"></input>
      </form>
        
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="oi oi-menu"></span>
      Menu
    </button>

    <style>
    /* Ẩn danh sách danh mục con mặc định */
    .nav-item.dropdown .dropdown-menu {
      display: none;
    }

    /* Hiển thị danh sách danh mục con khi hover */
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }

    /* Thiết lập vị trí của danh sách danh mục con */
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 200px; /* Điều chỉnh kích thước theo nhu cầu */
      background-color: #fff;
      border: 1px solid #ddd;
      z-index: 1000;
    }
    </style>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/cate" id="dropdownCategories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdownCategories">
              <a class="dropdown-item" href="/cate">List categorise</a>
            {{#each cateListNav}}
              <a class="dropdown-item" href="/product?cate={{this.product_type}}">{{this.product_type}}</a>
            {{/each}}
          </div>
        </li>

        <li class="nav-item"><a
            href="/about"
            class="nav-link">About</a></li>

        {{#if (eq user/role "admin")}}
        <li class="nav-item"><a
            href="/analyze"
            class="nav-link">Analyze</a></li>
        {{/if}}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown04"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">{{user.firstname}} {{user.lastname}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            {{#if user}}
            <a class="dropdown-item" href="/user/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            {{else}}
            <a class="dropdown-item" href="/register">Signup</a>
            <a class="dropdown-item" href="/login">Signin</a>
            {{/if}}
          </div>
        </li>
        <li class="nav-item cta cta-colored"><a
            href="/cart"
            class="nav-link"><span
              class="icon-shopping_cart"></span>[{{this.session.cart.totalQty}}]</a></li>

      </ul>
    </div>
  </div>
</nav>
{{/if}}


<!-- END nav -->