<div class="container">
  <h3 class="mt-5">Categories</h3>
  <div class="site-section mt-5">
    <div class="container">
      <div class="row">
        <a
          data-mdb-ripple-init
          data-mdb-modal-init
          href="#addCate"
          class="mb-3 fs-20"
        ><i class="icon ion-md-create">Add new cate</i></a>
      </div>
      <div
          class="modal fade"
          id="addCate"
          aria-hidden="true"
          aria-labelledby="addCateLabel"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addCateLabel">Add new category</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-mdb-ripple-init
                  data-mdb-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form class="ml-3" action="/cate/add" method="post">
                <label class="fw-bold" for="image_link">Image</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="image_link"
                      placeholder="Image link"
                    />
                  <div class="input-group">
                    <label class="fw-bold" for="product_type">Category name</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="product_type"
                      placeholder="Category name"
                    />
                  </div>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  <div class="p-t-10">
                    <button class="btn btn--pill btn--green" type="submit">Confirm</button>
                  </div>
                </form>
                  
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
      </div>
      
      <div class="row" id="data-container">
        {{#each cateList}}
        <div class="col-lg-4 mb-5 col-md-6 cate">
          {{!-- <div id="pagination-container"> --}}
            <div class="wine_v_1 text-center pb-4">
            <a href="/product?cate={{this.product_type}}" id="show-detail" class="thumbnail d-block mb-4">
              <img src="{{this.image_link}}" alt="{{this.product_type}}" class="img-fluid">
            </a>
            <div class="wine-actions">
              <h3 class="heading-2" style="font-size:18px"><a href="/product?cate={{this.product_type}}">{{this.product_type}}</a></h3>
            </div>
          </div>

          <style>
              .edit-button i, .delete-button i { font-size: 20px; /* Điều chỉnh
              kích thước biểu tượng theo mong muốn */ }
            </style>
            <div class="text-center">
              <a
                data-mdb-ripple-init
                data-mdb-modal-init
                href="#editCate{{this.product_type}}"
                class="mr-3 edit-button"
              ><i class="icon ion-md-create"></i></a>
              <a
                href="/cate/delete/{{this.product_type}}"
                class="ml-3 delete-button"
              ><i class="icon ion-md-trash"></i></a>
            </div>
      </div>
      <div
          class="modal fade"
          id="editCate{{this.product_type}}"
          aria-hidden="true"
          aria-labelledby="editCate{{this.product_type}}Label"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editCate{{this.product_type}}Label">Editing {{this.product_type}}</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-mdb-ripple-init
                  data-mdb-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form class="ml-3" action="/cate/edit" method="post">
                <div class="fw-bold mb-2" class="input-group">
                    <input
                      class="input--style-3"
                      type="hidden"
                      name="product_type"
                      value="{{this.product_type}}"
                    />
                  </div>
                  <label class="fw-bold" for="image_link">Image</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="image_link"
                      value="Image multer goes here"
                    />
                  <div class="input-group">
                    <label class="fw-bold" for="new_product_type">Category name</label>
                    <input
                      class="input--style-3"
                      type="text"
                      name="new_product_type"
                      value="{{this.product_type}}"
                    />
                  </div>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  <div class="p-t-10">
                    <button class="btn btn--pill btn--green" type="submit">Confirm</button>
                  </div>
                </form>

                  
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        {{/each}}

    <nav aria-label="Page navigation example">
      <ul id="cate-pagination" class="pagination flex-wrap d-flex justify-content-center">
        <li class="page-item"><a class="page-link page-previous" href="">Previous</a></li>
        {{!-- <li class="page-item"><a class="page-link" href="/cate?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/cate?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/cate?page=3">3</a></li> --}}
        <li class="page-item"><a class="page-link page-next" href="">Next</a></li>
      </ul>
    </nav>
    
</div>

  <!-- Assuming you have a Handlebars template in your HTML -->

<script>
  const total_cate = {{ total_cate }};
  const page = {{ page }};
  console.log(total_cate);
  const per_page = 6;
  const total_page = Math.ceil(total_cate / per_page);
  console.log(page)
  const pagination = document.getElementById('cate-pagination');
  let html = ''

  //Generate page button in pagination
  for (let i = 1; i <= total_page; ++i) {
    html += `<li class="page-item mx-1"><a class="page-link page-number" href="/cate?page=${i}">${i}</a></li>`
  }
  pagination.lastElementChild.insertAdjacentHTML('beforebegin',html)
   const pageNumbers = document.querySelectorAll('.page-number');
  pageNumbers[page-1].focus();
  //Handle previous button
  const previousPage = document.querySelector('.page-previous');
  const nextPage = document.querySelector('.page-next');
  let previous_page = page > 1 ? page - 1 : total_page;
  let next_page = page >= total_page ? 1 : page + 1;
  previousPage.setAttribute('href', `/cate?&page=${previous_page}`)
  nextPage.setAttribute('href', `/cate?&page=${next_page}`)
</script>