<div class="container">
  <div class="detail-section">
    <h1 class="detail-name">{{productDetail.name}}</h1>
    <hr class="section-divider" />
  </div>

  <div class="detail-section">
    <div class="detail-info">
      <img src="{{productDetail.image_link}}" alt="IMG" class="detail-img" />
      <p class="detail-text">Brand: {{productDetail.brand}}</p>
      <p class="detail-text">Price:
        {{productDetail.price_sign}}{{productDetail.price}}</p>
      <span class="detail-text">Tag: </span>

      {{#each productDetail.tag_list}}
        <span class="detail-description">{{this}}</span>
      {{/each}}
      <br />
      <form action="/cart/add?id={{productDetail.id}}" method="post">
        <p class="detail-text">Quantity</p>

        <input
          type="number"
          class="input--style-3"
          placeholder="1"
          name="quantity"
          value="1"
        />
        <button type="submit" class="detail-button">Add to cart</button>
      </form>
    </div>
    <hr class="section-divider" />
  </div>

  <div class="detail-section">
    <p class="detail-text">
      Description
    </p>
    <p class="detail-description">
      {{productDetail.description}}
    </p>
    <hr class="section-divider" />
  </div>

  <div class="detail-section">
    <a href="#" class="back-link">Back</a>
  </div>
</div>