<!DOCTYPE HTML>
<html>
	<head>
		<title>AWSHOP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../public/css/main.css" />
		<script scr="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
		{{!-- <noscript><link rel="stylesheet" href="{{('assets/css/noscript.css')}}" /></noscript> --}}
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="image main">
						</div>

						<div class="inner">
						</div>
					</div>

			</div>

		<!-- Scripts -->
			{{!-- <script src="{{('assets/js/jquery.min.js')}}"></script>
			<script src="{{('assets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="{{('assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{('assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{('assets/js/main.js')}}"></script>  --}}
	</body>
</html>